.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
}

.carouselItem__img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
}

.alice-carousel__next-btn-item {
  color: rgb(0, 0, 0);
}

.alice-carousel__prev-btn-item {
  color: rgb(0, 0, 0);
}

.item {
  padding: 0 5px;
}
