.info-product {
  padding-left: 100px;
  padding-top: 50px;
}

.name {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  margin: 0px 0px 15px;
  line-height: normal;
}

.price {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding: 15px 0;
}

.colors {
  display: flex;
  margin: 10px 0;
}

.color {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background-color: red;
}

.size {
  display: flex;
}

.detail_product__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.detail_product__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.detail_product {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  color: black;
}

.detail_product::-webkit-scrollbar {
  display: none;
}

.image_product {
  padding: 10px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

@media (min-width: 835px) {
  .detail_product {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
  }
}
