.info-product {
  padding-left: 50px;
  padding-top: 50px;
  width: 30%;
}

.name {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  margin: 0px 0px 15px;
  line-height: normal;
}

.price {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding: 15px 0;
}

.colors {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}

.color {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid #6e4f4f;
}

.color_selected {
  position: relative;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid #6e4f4f;
}

.color_selected::after {
  content: "✔";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.size_clothes {
  border: 1px solid black;
  margin: 10px 10px 10px 0;
}

.size_clothes_selected {
  border: 1px solid black;
  margin: 10px 10px 10px 0;
  background-color: red;
  transition: background-color 0.2s ease;
}

.size_label {
  color: white;
}

.size {
  display: flex;
}

.detail_product {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  color: black;
}

.detail_product::-webkit-scrollbar {
  display: none;
}

.image_product {
  padding: 10px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.input-quantity {
  padding: 20px 0;
  width: 100%;
}

.btn-add {
  width: 100%;
}
 .brand-info {
  display: flex;
  align-items: flex-start;
  padding: 15px 0;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

@media (max-width: 1023px) {
  .detail_product {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .detail_product {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
  }
  .image_product {
    width: 100%;
  }
  .info-product {
    padding-left: 0px;
    padding: 50px 15px;
    width: 100%;
  }
  .hidden-xs {
    content-visibility: hidden;
  }
  .brand-info {
    flex-direction: column;
  }
  .input-quantity {
    width: 100%;
  }
  input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
  }
}

.image_zoom {
  object-fit: contain;
  height: 30em;
}

.zoom-image {
  object-fit: contain;
  height: 30em;
}
